@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
margin:0;
padding : 0;
box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display:flex ;
    justify-content:space-between;
    align-items:center;
    background:#fff;

}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 110px;   
}
header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
   /* border-bottom: 1px solid #41b3a3; */
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
    transition-duration: 0.8s;
}
header ul li a:hover{
    padding: 2px 8px;
    background:  #41b3a3;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}
header ul li a:active{
    padding: 2px 8px;
    background:  #7421;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.imgbox{
    margin-left: 430px;
    margin-right: auto;
    width: 50%;
    text-align: justify;
    align-items: center;
    padding-top: 100px;
}
.imgbox img{
    display: block;
    margin: 0px;
    max-width: 400px;  
    border-radius: 45%;
    box-shadow: 0 0 0 60px #41b3a3;
    background-color: #41b3a3;
}
.textBox{
    color: #41b3a3;
    font-size: 1.6em;
    font-weight: 900;
    font-weight: 900;
    margin-left: -100px;
    margin-right:0px;
    padding-top: 20px;
}
.btn{
    text-align: center;
    margin-left: 70px;
    margin-top: 40px;
    background:  #41b3a3;
    color: #fff;
    border-radius: 400px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 8px 8px;
}
.btn:hover{
    background-color: cadetblue;
}
.sci {
    position: absolute;
    top: 50%;
    right: 3px;
    transform:translateY(-40%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sci li{
    list-style: none;
}
.sci li a{
    display: inline-block;
    margin: 5px 0px;
    transform: scale(0.6);
    filter: invert(0); 
}
footer{
    text-align: center;
    background-color: #3333;
    color: #fff;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }